doctype html
html
	head
		title Sudoku
		link(rel="stylesheet", href="css/main.css", type="text/css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Montserrat", type="text/css")
	body
		h1 Sudoku
		div(id="container")
		script(src="js/bundle.js")