$yellow = #FFE492 //FDEEAD
$green = #C1E2B0 //59C4A0
$grey = #726464
$pink = #FF7A7F

*
	padding: 0
	margin: 0
	font-family: 'Montserrat', sans-serif
	font-weight: 400

html
	background-color: $grey
	color: $yellow
	text-align: center

h1
	font-size: 6em
	margin: .8em

#container
	display: inline-block
	position: relative
	height: 600px
	width: 600px
	margin-bottom: 10em

@media (max-width: 1000px)
	#container
		height: 100vw
		width: 100vw

table
	border-collapse: collapse
	border-spacing: 0
	height: 100%
	width: 100%

input[type="text"]
	-webkit-appearance: none
	-webkit-border-radius: 0
	border-radius: 0

input
	background: none
	font-size: 2em
	height: 100%
	width: 100%
	text-align: center
	border: none
	color: transparent
	text-shadow: 0 0 0 $yellow

.highlighted
	background-color: $yellow
	color: $grey

input[readonly]
	opacity: 0.67

table.success .highlighted
	background-color: $green
	color: $grey

table.failure .highlighted, .highlighted.conflict 
	background-color: $pink
	color: $grey

.failure input,.failure input[readonly], .conflict
	text-shadow: 0 0 0 $pink
	
.success input, .success input[readonly]
	text-shadow: 0 0 0 $green
