*
	padding: 0
	// box-sizing: border-box

h1
	color: blue

table
	border-collapse: collapse
	height: 500px
	width: 500px

input
	height: 100%
	width: 100%
	text-align: center
	border: 1px solid pink
	
